.container1 {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1490129375591-2658b3e2ee50?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2244&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.one {
  background-image: url(https://images.unsplash.com/photo-1528855275993-0f4a23fedd62?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  background-image: url(https://images.unsplash.com/photo-1449495169669-7b118f960251?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
  background-position: center;
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.three {
  background-image: url(https://images.unsplash.com/uploads/1411070807173e4d6762d/f84a3a01?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.container2 {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1503516459261-40c66117780a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}